<%= turbo_stream_from current_share_group, "todos" %>

<main class="container">
  <div class="header">
    <h1>Checklist</h1>
    <%= link_to "New Todo",
                new_todo_path,
                data: { turbo_frame: dom_id(Todo.new) },
                class: "btn btn--primary" %>
  </div>

  <%= turbo_frame_tag Todo.new %>

  <%= turbo_frame_tag "todos" do %>
    <%= render "todos/empty_state" %>
    <%= render @todos %>
  <% end %>
</main>
